<footer class="site-footer">
  <div class="wrap">
    <div class="footer__grid">
      <div class="footer__brand">
        <a class="brand" href="index.html" aria-label="RiaCorp International, home">
          <img class="brand__mark" src="assets/img/logo-mark-light-176.png" srcset="assets/img/logo-mark-light-176.png 1x, assets/img/logo-mark-light-352.png 2x" width="176" height="176" alt="" aria-hidden="true">
          <span class="brand__name" style="color:#fff"><b>RiaCorp</b><span>International</span></span>
        </a>
        <p>Indian spices and psyllium husk, sourced, graded, tested, documented and shipped by one team.</p>
      </div>
      <div class="footer__col">
        <h3>Products</h3>
        <ul>
          <li><a href="spices.html">Spices</a></li>
          <li><a href="psyllium-husk.html">Psyllium Husk</a></li>
          <li><a href="products.html">All products</a></li>
          <li><a href="certifications.html">Certifications</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h3>Company</h3>
        <ul>
          <li><a href="about.html">About us</a></li>
          <li><a href="faq.html">Buyer FAQ</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="contact.html#enquiry">Request a quote</a></li>
        </ul>
      </div>
      <div class="footer__col">
        <h3>Contact</h3>
        <ul>
          <li><a href="mailto:info@riacorpinternational.com">info@riacorpinternational.com</a></li>
          <li><a href="tel:+000000000000">+00 000 000 0000</a><br><span class="muted">[placeholder]</span></li>
          <li>Street address, City<br>State, India<br><span class="muted">[placeholder]</span></li>
        </ul>
      </div>
    </div>
    <div class="footer__foot">
      <span>&copy; <span data-year>2026</span> RiaCorp International. All rights reserved.</span>
      <span>Supplier &amp; exporter from India</span>
    </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/ScrollTrigger.min.js" defer></script>
<script src="assets/js/main.js" defer></script>
</body>
</html>
